go 1.24.1

use (
	./api-gateway
	./config
	./entities
	./events
	./file-indexer
	./file-provider
	./file-provider-dir
	./file-provider-smb
	./jobs
	./log-viewer
	./logging
	./messaging
	./mongodb
	./service-discovery
	./shares
	./spaces
	./taglib
	./thumbnailer
	./tracing
	./util
)
