# Configure the file provider
fileprovider:
  # REQUIRED - unique id for the file provider
  # you may have multiple instances of the service with the same id for load-balancing
  # but all instances with the same id must share the same configuration and provide the same set of files
  # this is used as part of the file path when accessing files from this provider
  id: foo
  # REQUIRED - address (hostname) of the SMB server
  addr: storage-server.local
  # REQUIRED - username to access the SMB share
  username: pi
  # REQUIRED - password for the SMB share
  password: naspi
  # REQUIRED - name of the SMB share
  sharename: storage
  # OPTIONAL (default: empty)
  # path prefix to the directory in the SMB share that is served by the file provider
  pathPrefix: Benni/Photos
  # OPTIONAL (default: false)
  # set to true for read-only access to files
  readOnly: false

# Configure tracing via OpenTelemetry
tracing:
  # OPTIONAL (default: false)
  # set to true to enable tracing
  enabled: false
  # OPTIONAL (default: 'fileprovider.<providerId>')
  # set the service name that appears in the traces
  serviceName: 
  # OPTIONAL (default: false)
  # for debugging: set to true to print traces to stdout
  stdOut: false
  # OPTIONAL (default: none)
  # configure trace exporting via OTLP (OpenTelemetry Protocol)
  otlp:
    # configure address (host:port) of the gRPC endpoint
    grpc: localhost:4317